<div class="container">

    <div mdbModal #basicModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
        aria-hidden="true" [config]="{ backdrop: false, ignoreBackdropClick: true }">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="link">
                    <pdf-viewer [src]="link"></pdf-viewer>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" aria-label="Close" (click)="basicModal.hide()" >Закрити</button>
                </div>
            </div>
        </div>
    </div>

    <div class="justify-content-center">
        <div class="row">
            <h2>{{preparat?.preparatName}}</h2><br>

        </div>

        <div *ngIf="marketerAcademys.length; then dataList else dataListIsEmpy"></div>

        <ng-template #dataList>
            <ul class="list-group w-100">
                <li *ngFor="let marketerAcademy of marketerAcademys" class="list-group-item">
                    <a *ngIf="marketerAcademy.type == 'Slider';" routerLink="{{marketerAcademy.id}}">{{marketerAcademy.title}}</a>
                    <a *ngIf="marketerAcademy.type == 'File';" (click)="showModal($event, marketerAcademy.slides[0].img)" href="{{uploadsPdf}}{{marketerAcademy.slides[0].img}}">{{marketerAcademy.title}}</a>
                </li>
            </ul>
        </ng-template>

        <ng-template #dataListIsEmpy>
           <div class="row">
               <br>
               <p>Запитання покищо відсутні. Також варто перевірте інтернет підключення.</p>
           </div>
        </ng-template>
    </div>
</div>
