<div>

    <div mdbModal #forceVideoModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
         [config]="{backdrop: true, ignoreBackdropClick: true}">

        <div class="modal-dialog modal-dialog-centered modal-md" role="document">

            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100">Вітаємо на навчанні!</h4>
                </div>

                <div class="modal-body text-center">
                    <button type="button" class="btn-primary btn-sm" (click)="startStudy()">Почати навчання</button>
                </div>

                <div class="modal-footer"></div>
            </div>
        </div>
    </div>


    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
         aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn-primary btn-lg" (click)="userActive()">Продовжити</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-3 align-items-stretch">
            <div class="col-8 col-xl-10" #videoWrap>
                <div *ngIf="program[programIndex] && program[programIndex].state !== ProgramState.finished"
                     [className]="program[programIndex].state === ProgramState.waiting ? '' : 'hide'">

                    <img class="img-fluid" src="{{program[programIndex].videoInfo.poster}}" alt="">

                    <div [className]="timer && timer !== wrongTimer ? 'timer text-right' : 'hide'">
                        {{timer}}
                    </div>
                </div>


                <div *ngIf="program[programIndex] && program[programIndex].state !== ProgramState.finished"
                     [className]="program[programIndex].state === ProgramState.playingVideo ? '' : 'hide'">

                    <div id="player"></div>
                </div>


                <div *ngIf="program[programIndex] && program[programIndex]['test']"
                     [className]="program[programIndex].state === ProgramState.passingTest ? '' : 'hide'">
                    <h3>{{program[programIndex]['test'].title}}</h3>
                    <ngu-carousel #testCarousel [inputs]="carouselConfig" [dataSource]="program[programIndex]['test']['QA']">
                        <div *nguCarouselDef="let QAndAnswers;" class="item">
                            <h4 class="text-center">{{QAndAnswers['question']}}</h4>
                            <div *ngFor="let answers of QAndAnswers['answers']" >
                                <span class="answer-option" (click)="selectAnswer(QAndAnswers['question'], answers['correct'])">
                                    {{answers['answer']}}
                                </span>
                            </div>
                        </div>
                    </ngu-carousel>

                    <div [className]="timer && timer !== wrongTimer ? 'timer text-right' : 'hide'">
                        {{timer}}
                    </div>
                </div>


                <div *ngIf="study" [className]="program[programIndex].state === ProgramState.finished ? '' : 'hide'">
                    <img class="img-fluid" src="{{study.finalImage}}">
                </div>
            </div>

            <div class="col-4 col-xl-2" [className]="showChat ? 'col-4 col-xl-2' : 'hide'">
                <h5>Чат online</h5>
                <div class="chat">
                    <form (keydown)="keyDownFunction($event)">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Введіть повідомлення"
                                   [ngModelOptions]="{standalone: true}" [(ngModel)]="message">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="sendMessage()"> > </button>
                            </div>
                        </div>
                    </form>

                    <div class="chat__messages">
                        <div *ngFor="let message of messages" class="media">
                            <svg xmlns="http://www.w3.org/2000/svg"><g data-name="user people person users man"><path d="M23.74,16.18a1,1,0,1,0-1.41,1.42A9,9,0,0,1,25,24c0,1.22-3.51,3-9,3s-9-1.78-9-3a9,9,0,0,1,2.63-6.37,1,1,0,0,0,0-1.41,1,1,0,0,0-1.41,0A10.92,10.92,0,0,0,5,24c0,3.25,5.67,5,11,5s11-1.75,11-5A10.94,10.94,0,0,0,23.74,16.18Z"/><path d="M16,17a7,7,0,1,0-7-7A7,7,0,0,0,16,17ZM16,5a5,5,0,1,1-5,5A5,5,0,0,1,16,5Z"/></g></svg>
                            <div class="media-body">
                                <!-- <div class="chat__username">{{message.user.username}}</div>
                                <div class="chat__text">{{message.message}}</div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [className]="showChat ? 'hide' : 'hide'">
            <div class="d-flex">
               <div class="mt-4">
                   <p *ngIf="users.length">
                       <svg class="eye" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M508.177,245.995C503.607,240.897,393.682,121,256,121S8.394,240.897,3.823,245.995c-5.098,5.698-5.098,14.312,0,20.01
                                    C8.394,271.103,118.32,391,256,391s247.606-119.897,252.177-124.995C513.274,260.307,513.274,251.693,508.177,245.995z M256,361
                                    c-57.891,0-105-47.109-105-105s47.109-105,105-105s105,47.109,105,105S313.891,361,256,361z"/>
                            </g>
                        </g>
                           <g>
                            <g>
                                <path d="M271,226c0-15.09,7.491-28.365,18.887-36.53C279.661,184.235,268.255,181,256,181c-41.353,0-75,33.647-75,75
                                    c0,41.353,33.647,75,75,75c37.024,0,67.668-27.034,73.722-62.358C299.516,278.367,271,255.522,271,226z"/>
                            </g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                           <g>
                        </g>
                    </svg>
                       {{users.length}}</p>
               </div>
           </div>
            <div class="row flex-wrap users">
                <div class="col text-center" *ngFor="let user of users">
                    <svg xmlns="http://www.w3.org/2000/svg"><g data-name="user people person users man"><path d="M23.74,16.18a1,1,0,1,0-1.41,1.42A9,9,0,0,1,25,24c0,1.22-3.51,3-9,3s-9-1.78-9-3a9,9,0,0,1,2.63-6.37,1,1,0,0,0,0-1.41,1,1,0,0,0-1.41,0A10.92,10.92,0,0,0,5,24c0,3.25,5.67,5,11,5s11-1.75,11-5A10.94,10.94,0,0,0,23.74,16.18Z"/><path d="M16,17a7,7,0,1,0-7-7A7,7,0,0,0,16,17ZM16,5a5,5,0,1,1-5,5A5,5,0,0,1,16,5Z"/></g></svg>
                    <p>{{user.username}}</p>
                </div>
            </div>
       </div>

    </div>

</div>
