.chat {
    border: 1px solid #c8c9ca;
    padding: 20px 5px;
    height: 100%;

    svg {
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
        margin-right: 5px;
    }

    &__messages {
        max-height: calc(100% - 45px);
        overflow: auto;
    }

    &__username {
        color: #014572;
    }
}

h5 {
    color: #014572;
}

.users {
    .col {
        max-width: 150px;
    }

    svg {
        width: 34px;
        height: 34px;
    }
}

#videoPlayer {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.answer-option {
    text-align: center;
    display: inline-block;
    width: 100%;
    border: 1px solid #014572;
    background: #014572;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;

    &:hover {
        cursor: pointer;
    }
}

.hide {
    display: none;
}

.img-fluid {
    width: 100%;
}

.modal-footer {
    border-top: none;
}

.timer {
    font-size: 30px;
    color: #014572;
}

.eye {
    width: 30px;
    height: auto;
}

.align-items-stretch {
    .col-4 {
        min-height: 300px;
        max-height: calc(100vh - 250px);
    }
}

h4 {
    font-size: 25px;
    color: #014572;
    font-weight: bold;
    margin-bottom: 35px;
}

h3 {
    font-size: 20px;
    margin-bottom: 40px;
}


