.slides-list .card {
    max-height: 500px;
    contain: content;
    width: 18rem;
}

.card-body img {
    max-width: 100%;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dnd-box {
    flex-wrap: wrap;
}

.cdk-drag-placeholder {
    opacity: 0.1;
    contain: content;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.dnd-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.subSlides {
    padding: 20px 15px;
    box-shadow: 0px 0px 5px 0 #00000055;
    border-radius: 10px;
}

.example-accordion {
    margin-top: 20px;
    display: block;
}

.example-accordion-item {
    display: block;
    border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
    border-top: none;
}

.example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #eeeeee80;
}

.example-accordion-item-description {
    font-size: 0.85em;
    color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
    padding: 16px;
}

.example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
}

.example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.video-bg {
    background: rgba(0, 0, 0, 0.05);
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
}
