html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
}

.swiper-v {
  background: #eee;
}

.presentation {
    padding-bottom: 0!important;
}

.slides {
    width: 100%;
    font-size: 20px;
    padding: 0 60px;

    .slide {
        position: relative;

        a {
            position: absolute;
        }

        .top {
            top: 0;
            bottom: 66.7%;
            left: 0;
            right: 0;
        }

        .center {
            top: 33.3%;
            bottom: 33.3%;
            left: 25%;
            right: 25%;
        }

        .bottom {
            top: 66.7%;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .bottom-half-left {
            top: 66.7%;
            bottom: 0;
            left: 0;
            right: 50%;
        }

        .bottom-half-right {
            top: 66.7%;
            bottom: 0;
            left: 50%;
            right: 0;
        }

        .bottom-left {
            top: 66.7%;
            bottom: 0;
            left: 0;
            right: 66.7%;
        }

        .bottom-center {
            top: 66.7%;
            bottom: 0;
            left: 33.3%;
            right: 33.3%;
        }

        .bottom-right {
            top: 66.7%;
            bottom: 0;
            left: 66.7%;
            right: 0;
        }
    }
    .yt_slide {
        width: 80%!important;
        margin: 0 auto;

        youtube-player {
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
        }
    }
}

.presentation-wrap {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.carousel-inner .description img {
    max-width: 50%;
    height: auto;
    float: left;
    margin-right: 10px;
}


.carousel-wrap {
    padding: 70px 0;
    position: relative;
}

.leftRs {
    right: 0;
    position: absolute;
    margin: 0 auto;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    background: transparent;
    left: -4px;

    svg {
        height: 100%;
        width: 100%;
        transform: rotate(-90deg);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.rightRs {
    right: 0;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    left: -4px;
    background: transparent;

    svg {
        height: 100%;
        width: 100%;
        transform: rotate(90deg);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &:hover {
        cursor: pointer;
    }
}

.serialNumber {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 3px;
    border-bottom: 4px solid #fff;
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: -25px;
    right: 0;
}

.year {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    position: absolute;
    bottom: 30px;
    left: -7px;
    right: 0;
}


.swiper-wrapper {
    .swiper-slide {
        padding: 10px;
        img {
            height: calc(100vh - 70px);
            object-fit: contain;
            margin: 0 auto;
        }
        .description {
            max-height: calc(100vh - 70px);
            overflow: overlay;
            text-align: left;
            padding: 0 28px;
        }
        .yt_slides, .video-bg, img  {
            padding: 30px;
        }
        .swiper-v {
            .swiper-slide {
                &:not(:nth-child(1)) {
                    img, .yt_slides {
                        padding: 50px 0 !important;
                    }
                    video {
                        padding: 25px 0 75px;
                    }
                }
                &:nth-child(1) {
                    img, .yt_slides {
                        padding-bottom: 50px;
                    }
                    video {
                        padding-bottom: 75px;
                    }
                }

                &:nth-last-child(1) {
                    img, .yt_slides, .video-bg {
                        padding-bottom: 0 !important;
                    }
                }
            }
        }
    }
}
::ng-deep {
    .slides {
        &:has(.swiper-slide-zoomed) {
            .swiper-wrapper::part(button-next),
            .swiper-wrapper::part(button-prev) {
                display: none !important;
            }
        }
        &:not(:has(.swiper-slide-zoomed)) {
            .swiper-zoom-container {
                transform: none !important;
            }
        }
    }
    .slides {
        .carousel-inner {
            padding-top: 10px;
            .carousel-item img {
                height: calc(100vh - 160px);
                object-fit: contain;
            }
        }
        .yt_slides {
            width: 100%;
            height: calc(100vh - 70px);
            youtube-player {
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .description {
            text-align: left;
        }
        .video-js {
            // height: calc(100vh - 150px);
        }
    }
}
