.slide-old-img img {
    max-height: 150px;
    height: 150px;
}

.card-body label {
    margin-bottom: 3px;
}

.card-body input, .card-body textarea {
    margin-bottom: 8px;
}

.subSlides {
    padding: 20px 15px;
    box-shadow: 0px 0px 5px 0 #00000055;
    border-radius: 10px;
}

.example-accordion {
    margin-top: 20px;
    display: block;
}

  .example-accordion-item {
    display: block;
    border: solid 1px #ccc;
  }

  .example-accordion-item + .example-accordion-item {
    border-top: none;
  }

  .example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #eeeeee80;
  }

  .example-accordion-item-description {
    font-size: 0.85em;
    color: #999;
  }

  .example-accordion-item-header,
  .example-accordion-item-body {
    padding: 16px;
  }

  .example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
  }

  .example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

.video-bg {
    background: rgba(0, 0, 0, 0.05);
    max-height: 150px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
