<div class="container">

    <div mdbModal #basicModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pdf-viewer [src]="link"
                                [original-size]="false"
                                [autoresize]="true"
                    ></pdf-viewer>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" aria-label="Close" (click)="basicModal.hide()" >Закрити</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="row">
            <h2>МАТЕРІАЛИ</h2>
        </div>

        <div *ngIf="papers.length; then dataList else dataListIsEmpy"></div>

        <ng-template #dataList>
            <ul class="list-group w-100">
                <li *ngFor="let paper of papers | sort" class="list-group-item">
                    <a (click)="showModal($event, paper.paperTitle)" target="_blank" href="{{uploadsPdf}}{{paper.paperTitle}}">{{paper.paperTitle}}</a>
                </li>
            </ul>
        </ng-template>

        <ng-template #dataListIsEmpy>
           <div class="row">
               <p>Матеріали покищо відсутні. Також варто перевірте інтернет підключення.</p>
           </div>
        </ng-template>
    </div>
</div>
