.answer-option {
    text-align: center;
    display: inline-block;
    width: 100%;
    border: 1px solid #014572;
    background: #014572;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;

    &:hover {
        cursor: pointer;
    }
}

.hide {
    display: none;
}

.timer {
    font-size: 30px;
    color: #014572;
}


h1 {
    font-size: 25px;
    color: #014572;
    font-weight: bold;
    margin-bottom: 35px;
}

h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.img-fluid {
    width: 100%;
}

.modal-footer {
    border-top: none;
}
