<div class="container">

    <div class="justify-content-center">
        <div class="row">
            <h2>{{preparat?.preparatName}}</h2>
        </div>

        <div *ngIf="questions.length; then dataList else dataListIsEmpy"></div>

        <ng-template #dataList>
            <ul class="list-group w-100">
                <li *ngFor="let question of questions" class="list-group-item">
                    <a routerLink="{{question.id}}">{{question.title}}</a>
                </li>
            </ul>
        </ng-template>

        <ng-template #dataListIsEmpy>
           <div class="row">
               <br>
               <p>Запитання покищо відсутні. Також варто перевірте інтернет підключення.</p>
           </div>
        </ng-template>
    </div>
</div>
