.youtube_list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .yt_block {
        width: auto !important;
        margin: 35px 0;
        box-shadow: 0 0 10px #000;
        .video-js {
            height: calc(100vh - 150px);
            min-width: 95vw;
        }
    }
}

.video-bg video {
    cursor: pointer;
}

.container {
    max-width: 90% !important;
}

.video_list {
    video {
        max-width: 90% !important;
    }
}
