<ion-content overflow-scroll="true">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="center">
                <h1>ПОЯСНЕННЯ ДО ЦИКЛОВОЇ</h1>
            </div>

            <div class="img-wrap" *ngFor="let expl of images">
                <img class="hexagon__bg" src="{{publicFolder}}/uploads/img/{{expl.link}}" alt="">
            </div>
        </div>
    </div>

    <div class="youtube_list" id="video-lazy">
        <!-- <div class="yt_block" *ngFor="let yt of youtubeList">
            <youtube-player
                width="100%"
                height="100%"
                videoId="{{getYoutubeUrl(yt)}}"
            ></youtube-player>
        </div> -->

        <div class="w-100 slide video-bg yt_block" *ngFor="let video of videos">
            <div *ngIf="checkTheYoutube(video.link); else otherSlide">
                <video class="video-js lazy" [src]="getUrlFromYT(video.link)" type="video/mp4"></video>
            </div>
            <ng-template #otherSlide>
                <video class="video-js lazy" data-src="{{publicFolder}}/uploads/img/{{video.link}}" type="video/mp4"></video>
            </ng-template>

            <!-- <video class="video-js lazy" data-src="{{video.link}}" type="video/mp4"></video> -->
            <!-- <button style="width: 100px; height: 30px;" (click)="openVideo($event, video)">Open Video</button> -->
        </div>
    </div>
</ion-content>