<div class="specialty-wrap">
    <div *ngIf="visits.length && specialty; then dataList else dataListIsEmpy"></div>

    <ng-template #dataList>
        <div class="d-flex justify-content-center">
            <div class="hexagon specialty">
                <img class="hexagon__bg" src="assets/img/hexagon.png" alt="">
                <div class="hexagon__info">
                    <img class="specialty-logo" src="{{uploadsImg}}{{specialty.logo}}" alt="">
                    <div>
                        {{specialty.specialtyName}}
                    </div>
                </div>
            </div>
            <a routerLink="history" class="hexagon history">
                <img class="hexagon__bg" src="assets/img/aktualne.png" alt="">
                <div class="hexagon__info">
                    <div>
                        ІСТОРІЯ ВІЗИТІВ
                    </div>
                </div>
            </a>
        </div>

        <div class="visit-slide m-auto">

            <ul class="list-unstyled d-flex square-tree">
                <!-- <div class="col-4 d-flex align-items-center justify-content-center visit"></div> -->
                <li *ngFor="let visit of visitsSlides[0]" class="d-flex align-items-center justify-content-center visit">
                    <div class="hexagon">
                        <img class="hexagon__bg" src="assets/img/hexagon.png" alt="">
                        <div *ngIf="visit.serialNumber === null || visit.year === null; then hexagonWithId else hexagonWithYear"></div>

                        <ng-template #hexagonWithYear>
                            <div class="hexagon__info">
                                <span class="serialNumberOuter serialNumber" *ngIf="visit.week !== null" [innerHTML]=changeWeekFormat(visit.week)></span>
                                <span class="serialNumber" *ngIf="visit.week === null && visit.serialNumber !== null">{{visit.serialNumber}}</span>
                                <!-- <span>{{visit.year}}</span> -->
                            </div>
                        </ng-template>

                        <ng-template #hexagonWithId>
                            <div class="hexagon__info">
                                {{visit.id}}
                            </div>
                        </ng-template>
                    </div>
                </li>
                <!-- <div class="col-4 d-flex align-items-center justify-content-center visit"></div> -->
            </ul>


            <ul class="list-unstyled d-flex angle-tree">
                <div class="col-4 d-flex align-items-center justify-content-center presentation"></div>
                <li *ngFor="let visit of doubleArrayOfVisits[0]; let i = index" class="d-flex align-items-center justify-content-center presentation">
                    <div *ngIf="presentationId(visit.id, i); then presentationLink else presentationDiv"></div>

                    <ng-template #presentationLink>
                        <a [routerLink]="[presentationId(visit.id, i)]" class="hexagon">
                            <img  class="hexagon__bg" src="assets/img/{{checkType(i)}}.png" alt="" >
                        </a>
                    </ng-template>

                    <ng-template #presentationDiv>
                        <div  class="hexagon">
                            <img  class="hexagon__bg" src="assets/img/{{checkType(i)}}.png" alt="" >
                        </div>
                    </ng-template>
                </li>
                <div class="col-4 d-flex align-items-center justify-content-center presentation"></div>
            </ul>

        </div>

    </ng-template>

    <ng-template #dataListIsEmpy>
           <p>Empty...</p>
    </ng-template>
</div>
