<!-- <div>
    <div style="overflow-y: auto" mdbModal #basicModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pdf-viewer [src]="link"
                                [original-size]="false"
                                [autoresize]="true"
                    ></pdf-viewer>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Закрити</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<ion-header>
    <ion-toolbar>
      <!-- <ion-title>{{ fileName }}</ion-title> -->
      <ion-buttons slot="start">
        <ion-button (click)="dismissModal()">
            <ion-icon name="arrow-back"></ion-icon>
            Закрити
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <pdf-viewer [src]="fileLink" [zoom]="pdfZoom" [original-size]="false"></pdf-viewer>

    <!-- <ion-fab bottom right>
        <button ion-fab mini (click)="zoomIn()">
            <ion-icon name="add"></ion-icon>
        </button>
       <button ion-fab mini (click)="zoomOut()">
            <ion-icon name="remove"></ion-icon>
        </button>
       <button ion-fab mini (click)="resetZoom()">
            <ion-icon name="refresh"></ion-icon>
        </button>
   </ion-fab> -->

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button>
            <ion-icon name="chevron-up-circle"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button>
                <ion-icon name="refresh" (click)="resetZoom($event)"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="add" (click)="zoomIn($event)"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="remove" (click)="zoomOut($event)"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <!-- <object
        type="application/pdf"
        width="100%"
        height="100%"
        style="min-height: 500px;"
        [data]="fileLink">
        <p>It appears you don't have a PDF plugin for this browser.</p>
    </object> -->
  </ion-content>