ion-fab {
    position:fixed;
}
::ng-deep {
    .modal-component {
        .modal-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}