html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
}

.swiper-v {
  background: #eee;
}


.presentation {
    padding-bottom: 0 !important;
}

.slides {
    width: 100%;
    font-size: 20px;
    padding: 0 60px;

    .slide {
        position: relative;

        a {
            position: absolute;
        }

        .linkCoordinat {
            z-index: 1031;
        }

        .top {
            top: 0;
            bottom: 66.7%;
            left: 0;
            right: 0;
        }

        .center {
            top: 33.3%;
            bottom: 33.3%;
            left: 25%;
            right: 25%;
        }

        .bottom {
            top: 66.7%;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .bottom-half-left {
            top: 66.7%;
            bottom: 0;
            left: 0;
            right: 50%;
        }

        .bottom-half-right {
            top: 66.7%;
            bottom: 0;
            left: 50%;
            right: 0;
        }

        .bottom-left {
            top: 66.7%;
            bottom: 0;
            left: 0;
            right: 66.7%;
        }

        .bottom-center {
            top: 66.7%;
            bottom: 0;
            left: 33.3%;
            right: 33.3%;
        }

        .bottom-right {
            top: 66.7%;
            bottom: 0;
            left: 66.7%;
            right: 0;
        }
        .testButton {
            position: absolute;
            border: none;
            background: transparent;
            -webkit-box-shadow: 0px 0px 15px 2px #000000;
            box-shadow: 0px 0px 15px 0px #000000a6;
            width: 47%;
            height: 21.5%;
            top: 19%;
            left: 51%;
            border-radius: 50px;
            outline: none;
            transition: 0.3s;
        }
        .testButton:nth-of-type(2) {
            top: 46%;
        }
        .testButton:nth-of-type(3) {
            top: 74%;
        }
        .testButton.active {
            box-shadow: 0px 0px 25px 3px rgb(72 235 107 / 65%);
        }
        .salute {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
        }
        .salute.active {
            opacity: 1;
            visibility: visible;
        }
    }
    .doctors_name {
        margin: 10px 0 30px;
        text-align: center;

        input {
            text-align: left;
        }

        .row {
            align-items: center;
        }
    }
}

.presentation-wrap {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.carousel-inner .description img {
    max-width: 50%;
    height: auto;
    float: left;
    margin-right: 10px;
}


.carousel-wrap {
    padding: 70px 0;
    position: relative;
}

.leftRs {
    right: 0;
    position: absolute;
    margin: 0 auto;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    background: transparent;
    left: -4px;

    svg {
        height: 100%;
        width: 100%;
        transform: rotate(-90deg);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.rightRs {
    right: 0;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    left: -4px;
    background: transparent;

    svg {
        height: 100%;
        width: 100%;
        transform: rotate(90deg);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &:hover {
        cursor: pointer;
    }
}

.serialNumber {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 3px;
    border-bottom: 4px solid #fff;
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: -25px;
    right: 0;
}

.year {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    position: absolute;
    bottom: 30px;
    left: -7px;
    right: 0;
}


.video-bg {
    background: rgba(0, 0, 0, 0.05);
    height: calc(100vh - 120px);
    -o-object-fit: cover;
    object-fit: cover;

    video {
        height: inherit;
        background-color: white;
    }
}

::ng-deep {
    .slides {
        &:has(.swiper-slide-zoomed) {
            .swiper-wrapper::part(button-next),
            .swiper-wrapper::part(button-prev) {
                display: none !important;
            }
            .description {
                overflow: unset !important;
            }
        }
        &:not(:has(.swiper-slide-zoomed)) {
            .swiper-zoom-container {
                transform: none !important;
            }
        }
    }
    .slides {
        .swiper-wrapper .swiper-v::part(button-next),
        .swiper-wrapper .swiper-v::part(button-prev) {
            left: 50% !important;
            z-index: 998;
        }
        .swiper-wrapper .swiper-v::part(button-prev) {
            top: 15px !important;
            transform: rotate(-270deg) !important;
            bottom: auto !important;
            margin-left: 0px !important;
        }
        .swiper-wrapper .swiper-v::part(button-next) {
            top: auto !important;
            transform: rotate(90deg) !important;
            bottom: 0 !important;
        }
    
        header .navbar {
            z-index: 990;
            &:has(.show) {
                z-index: 999;
            }
        }
    
        .swiper-wrapper {
            .swiper-slide {
                padding: 10px;
                img {
                    height: calc(100vh - 70px);
                    object-fit: contain;
                    margin: 0 auto;
                }
                .description {
                    max-height: calc(100vh - 70px);
                    overflow: overlay;
                    text-align: left;
                    padding: 0 28px;
                }
                .yt_slides, .video-bg, img {
                    padding: 30px;
                }
                .swiper-v {
                    .swiper-slide {
                        // &:not(:nth-child(1)) {
                        //     img, .yt_slides {
                        //         padding-top: 30px !important;
                        //         padding-bottom: 30px !important;
                        //     }
                        //     video {
                        //         padding: 25px 0 75px;
                        //     }
                        // }
                        // &:nth-child(1) {
                        //     img, .yt_slides {
                        //         padding-bottom: 50px;
                        //     }
                        //     video {
                        //         padding-bottom: 75px;
                        //     }
                        // }
    
                        // &:nth-last-child(1) {
                        //     img, .yt_slides, .video-bg {
                        //         padding-bottom: 0 !important;
                        //     }
                        // }
                    }
                }
            }
        }
    }

    .slides {
        // margin-top: 60px;
        // height: 100vh;
        .carousel-inner {
            padding-top: 10px;
            .carousel-item img {
                height: calc(100vh - 160px);
                object-fit: contain;
            }
        }
        .yt_slides {
            width: 100%;
            height: calc(100vh - 150px);
            youtube-player {
                iframe {
                    // position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .description {
            text-align: left;
            // max-height: 100vh;
            // overflow: auto;
            // touch-action: pan-x !important;
        }
        .carousel-control-prev, .carousel-control-next {
            cursor: pointer;
        }
    }
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg fill='%2306a9d4' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12 C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084 c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864 l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg fill='%2306a9d4' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492.004 492.004' style='enable-background:new 0 0 492.004 492.004;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}