<ion-content class="slides">
    <div mdbModal #basicModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true"
        [config]="{ backdrop: false, ignoreBackdropClick: false }">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pdf-viewer [src]="link"
                        [original-size]="false"
                        [autoresize]="true"
                    ></pdf-viewer>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" aria-label="Close" (click)="basicModal.hide()">Закрити</button>
                </div>
            </div>
        </div>
    </div>

    <swiper-container *ngIf="presentation; else dataListIsEmpy" swiperElement class="swiper-wrapper swiper-h" [config]="config" zoom="true" events-prefix="swiper-">
        <swiper-slide class="swiper-slide" *ngFor="let slide of presentation.slides">
            <!-- <pinch-zoom></pinch-zoom> -->
            <div *ngIf="!slide.subSlides?.length; else moreSlide" class="w-100">
                <div *ngIf="checkTheYoutube(slide.link); then youtubeSlide else otherSlide"></div>

                <!-- Slide with video -->
                <ng-template #youtubeSlide>
                    <div class="w-100 slide yt_slides">
                        <!-- <youtube-player
                            width="100%"
                            height="100%"
                            videoId="{{getYoutubeUrl(slide.link)}}"
                        ></youtube-player> -->
                        <!-- <video controls width="100%" [autoplay]="false" [volume]="0">
                            <source [src]="getUrlFromYT(slide.link)" type="video/mp4">
                            <p>Відео не підтримується.</p>
                        </video> -->
                        <video class="video-js" [src]="getUrlFromYT(slide.link)" type="video/mp4"></video>
                    </div>
                </ng-template>

                <!-- Slide with image -->
                <ng-template #otherSlide>
                    <div *ngIf="slide.img && slide.img.endsWith('.mp4')" class="w-100 slide video-bg">
                        <!-- <video controls width="100%" [autoplay]="false" [volume]="0">
                            <source src="{{uploadsImg}}{{slide.img}}" type="video/mp4">
                            <p>Відео не підтримується.</p>
                        </video> -->
                        <video class="video-js" src="{{uploadsImg}}{{slide.img}}" type="video/mp4"></video>
                    </div>
                    <div *ngIf="slide.img && !slide.img.endsWith('.mp4')" class="slide swiper-zoom-container" data-swiper-zoom="2">
                        <img class="d-block" *ngIf="slide.img" src="{{uploadsImg}}{{slide.img}}" alt="">
                        <div class="coordinats">
                            <ng-container *ngFor="let linkCoordinat of slide.linkCoordinats">
                                <a [ngStyle]="setMyStyles(linkCoordinat)" class="linkCoordinat" (click)="showModal($event, linkCoordinat.mainLinkCoordinats)" *ngIf="linkCoordinat.mainLinkCoordinats" target="_blank" href="{{linkCoordinat.mainLinkCoordinats}}"></a>
                            </ng-container>
                            <a class="top" (click)="showModal($event, slide.link)" *ngIf="slide.link" target="_blank" href="{{slide.link}}"></a>
                            <a class="center" (click)="showModal($event, slide.linkCenter)" *ngIf="slide.linkCenter" target="_blank" href="{{slide.linkCenter}}"></a>
                            <a class="bottom" (click)="showModal($event, slide.linkBottom)" *ngIf="slide.linkBottom" target="_blank" href="{{slide.linkBottom}}"></a>
                            <a class="bottom-half-left"  (click)="showModal($event, slide.linkBHL)" *ngIf="slide.linkBHL" target="_blank" href="{{slide.linkBHL}}"></a>
                            <a class="bottom-half-right" (click)="showModal($event, slide.linkBHR)" *ngIf="slide.linkBHR" target="_blank" href="{{slide.linkBHR}}"></a>
                            <a class="bottom-left" (click)="showModal($event, slide.linkBL)" *ngIf="slide.linkBL" target="_blank" href="{{slide.linkBL}}"></a>
                            <a class="bottom-center" (click)="showModal($event, slide.linkBC)" *ngIf="slide.linkBC" target="_blank" href="{{slide.linkBC}}"></a>
                            <a class="bottom-right" (click)="showModal($event, slide.linkBR)" *ngIf="slide.linkBR" target="_blank" href="{{slide.linkBR}}"></a>
                        </div>
                    </div>
                    <div class="description swiper-zoom-container" data-swiper-zoom="2" *ngIf="presentation.type === 'forUsers'">
                        <div class="swiper-zoom-target">
                            <div [innerHTML]="slide.textLeft"></div>
                            <div [innerHTML]="slide.textRight"></div>
                        </div>
                    </div>
                </ng-template>
            </div>

            <!-- have Subslides-->
            <ng-template #moreSlide>
                <swiper-container class="swiper-wrapper swiper-v" swiperElement direction="vertical" [config]="config" zoom="true" events-prefix="swiper-">
                    <swiper-slide class="swiper-slide" *ngFor="let slide of slide.subSlides">

                        <div *ngIf="checkTheYoutube(slide.link); then youtubeSlide else otherSlide"></div>

                        <!-- Slide with video -->
                        <ng-template #youtubeSlide>
                            <div class="w-100 slide yt_slides">
                                <!-- <youtube-player width="100%" height="100%" videoId="{{getYoutubeUrl(slide.link)}}"></youtube-player> -->
                                <!-- <video controls width="100%" [autoplay]="false" [volume]="0">
                                    <source [src]="getUrlFromYT(slide.link)" type="video/mp4">
                                    <p>Відео не підтримується.</p>
                                </video> -->
                                <video class="video-js" [src]="getUrlFromYT(slide.link)" type="video/mp4"></video>
                            </div>
                        </ng-template>

                        <!-- Slide with image -->
                        <ng-template #otherSlide>
                            <div *ngIf="slide.img && slide.img.endsWith('.mp4')" class="w-100 slide video-bg">
                                <!-- <video controls width="100%" [autoplay]="false" [volume]="0">
                                    <source src="{{uploadsImg}}{{slide.img}}" type="video/mp4">
                                    <p>Відео не підтримується.</p>
                                </video> -->
                                <video class="video-js" src="{{uploadsImg}}{{slide.img}}" type="video/mp4"></video>
                            </div>
                            <div *ngIf="slide.img && !slide.img.endsWith('.mp4')" class="slide swiper-zoom-container" data-swiper-zoom="2">
                                <img class="d-block" *ngIf="slide.img" src="{{uploadsImg}}{{slide.img}}" alt="">
                                <div class="coordinats">
                                    <ng-container *ngFor="let linkCoordinat of slide.linkCoordinats">
                                        <a [ngStyle]="setMyStyles(linkCoordinat)" class="linkCoordinat" (click)="showModal($event, linkCoordinat.mainLinkCoordinats)" *ngIf="linkCoordinat.mainLinkCoordinats" target="_blank" href="{{linkCoordinat.mainLinkCoordinats}}"></a>
                                    </ng-container>
                                    <a class="top" (click)="showModal($event, slide.link)" *ngIf="slide.link" target="_blank" href="{{slide.link}}"></a>
                                    <a class="center" (click)="showModal($event, slide.linkCenter)" *ngIf="slide.linkCenter" target="_blank" href="{{slide.linkCenter}}"></a>
                                    <a class="bottom" (click)="showModal($event, slide.linkBottom)" *ngIf="slide.linkBottom" target="_blank" href="{{slide.linkBottom}}"></a>
                                    <a class="bottom-half-left"  (click)="showModal($event, slide.linkBHL)" *ngIf="slide.linkBHL" target="_blank" href="{{slide.linkBHL}}"></a>
                                    <a class="bottom-half-right" (click)="showModal($event, slide.linkBHR)" *ngIf="slide.linkBHR" target="_blank" href="{{slide.linkBHR}}"></a>
                                    <a class="bottom-left" (click)="showModal($event, slide.linkBL)" *ngIf="slide.linkBL" target="_blank" href="{{slide.linkBL}}"></a>
                                    <a class="bottom-center" (click)="showModal($event, slide.linkBC)" *ngIf="slide.linkBC" target="_blank" href="{{slide.linkBC}}"></a>
                                    <a class="bottom-right" (click)="showModal($event, slide.linkBR)" *ngIf="slide.linkBR" target="_blank" href="{{slide.linkBR}}"></a>
                                </div>
                            </div>
                            <div class="description swiper-zoom-container" data-swiper-zoom="2" *ngIf="presentation.type === 'forUsers'">
                                <div class="swiper-zoom-target">
                                    <div [innerHTML]="slide.textLeft"></div>
                                    <div [innerHTML]="slide.textRight"></div>
                                </div>
                            </div>
                        </ng-template>

                    </swiper-slide>
                </swiper-container>
            </ng-template>

        </swiper-slide>
    </swiper-container>

    <ng-template #dataListIsEmpy>
        <!-- <p>No slides...</p> -->
    </ng-template>
</ion-content>
