<div class="container">
    <ul class="mt-5">
        <li><a routerLink="/">Головна</a></li>
        <li><a routerLink="users">Користувачі</a></li>
        <li><a routerLink="specialties">Спеціальності</a></li>
        <li><a routerLink="visits">Візити</a></li>
        <li><a routerLink="preparats">Препарати</a></li>
        <li><a routerLink="questions">Питання</a></li>
        <li><a routerLink="papers">Додаткові матеріали</a></li>
        <li><a routerLink="presentations">Презентациії</a></li>
        <li><a routerLink="loyality-presentations">Презентації лояльності</a></li>
        <li><a routerLink="tests">Тести</a></li>
        <li><a routerLink="studies">Навчання</a></li>
        <li><a routerLink="testsResults">Результати тестів</a></li>
        <li><a routerLink="marketing-comments">Маркетингові коментарі</a></li>
        <li><a routerLink="marketerAcademy">Академія маркетолога</a></li>
    </ul>
</div>
