﻿<ion-app>
  <!-- <ion-header [translucent]="true" *ngIf="currentUser">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button *ngIf="canGoBack" (click)="goBack()" expand="block" fill="clear" shape="round">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->

  <ion-buttons class="header back" slot="start">
    <ion-button *ngIf="canGoBack" (click)="goBack()" expand="block" fill="clear" shape="round">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons class="header menu" slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <ion-menu side="end" contentId="content" [disabled]="!currentUser">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu-title">Farmak</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button>
            <ion-icon name="close"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item class="nav-item" routerLink="/" replaceUrl="true" routerDirection="forward">
            <ion-label>СПЕЦІАЛЬНОСТІ</ion-label>
          </ion-item>
          <ion-item class="nav-item" routerLink="/marketerAcademy"replaceUrl="true" routerDirection="forward">
            <ion-label>АКАДЕМІЯ МАРКЕТОЛОГА</ion-label>
          </ion-item>
          <ion-item class="nav-item" routerLink="/test-univ"replaceUrl="true" routerDirection="forward">
            <ion-label>ТЕСТ УНІВЕРСАЛИ</ion-label>
          </ion-item>
          <ion-item class="nav-item" routerLink="/test-oft-ter"replaceUrl="true" routerDirection="forward">
            <ion-label>ТЕСТ ОФТ-ТЕР</ion-label>
          </ion-item>
          <ion-item class="nav-item" routerLink="/test-gyn-derm"replaceUrl="true" routerDirection="forward">
            <ion-label>ТЕСТ ГІН-ДЕРМ</ion-label>
          </ion-item>
          <ion-item class="nav-item" routerLink="/explanations"replaceUrl="true" routerDirection="forward">
            <ion-label>ПОЯСНЕННЯ ДО ЦИКЛОВОЇ</ion-label>
          </ion-item>
          <!-- <ion-item class="nav-item" *ngIf="currentUser.role === 'admin'" routerLink="/control" routerDirection="forward">
            <ion-label>АДМІНІСТРУВАННЯ</ion-label>
          </ion-item> -->
          <ion-item class="nav-item" routerLink="/" replaceUrl="true" (click)="logout()">
            <ion-label>ВИЙТИ</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <!-- <ion-item class="nav-item">
          <button type="button" class="btn btn-primary" (click)="checkUpdates()">Синхронізувати дані</button>
        </ion-item> -->

        <!-- <div class="app_version" *ngIf="new_app_version">
          <p>Доступна нова версія</p>
          <p class="app_update" (click)="updateAPP()">Оновити</p>
        </div> -->

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content >
    <ion-router-outlet id="content"></ion-router-outlet>
  </ion-content>

  <footer>
      <div class="links"></div>
  </footer>

</ion-app>



<!-- 
<ion-content>
    <div>
        <header *ngIf="currentUser">
            <mdb-navbar SideClass="navbar fixed-top navbar-expand-xs"  [containerInside]="false">
                <links>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse"  routerLink="/">СПЕЦІАЛЬНОСТІ</a>
                        </li> -->
                        <!--<li class="nav-item" *ngIf="currentUser.role === 'admin'">
                            <a class="nav-link"  data-toggle="collapse" routerLink="/materials">МАТЕРІАЛИ</a>
                        </li>
                        <li class="nav-item" *ngIf="currentUser.role === 'admin'"> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link"  data-toggle="collapse" routerLink="/marketerAcademy">АКАДЕМІЯ МАРКЕТОЛОГА</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" routerLink="/test-univ">ТЕСТ УНІВЕРСАЛИ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" routerLink="/test-oft-ter">ТЕСТ ОФТ-ТЕР</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" routerLink="/test-gyn-derm">ТЕСТ ГІН-ДЕРМ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" routerLink="/explanations">ПОЯСНЕННЯ ДО ЦИКЛОВОЇ</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link"  data-toggle="collapse" routerLink="/study">НАВЧАННЯ</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link"  data-toggle="collapse" routerLink="/educational-materials">НАВЧАЛЬНІ МАТЕРІАЛИ</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link"  data-toggle="collapse" routerLink="/results">РЕЗУЛЬТАТИ</a>
                        </li> -->
                        <!-- <li class="nav-item" *ngIf="currentUser.role === 'admin'">
                            <a class="nav-link" data-toggle="collapse" routerLink="/control">АДМІНІСТРУВАННЯ</a>
                        </li>
                        <li class="nav-item">
                            <a (click)="logout()" class="nav-link">ВИЙТИ</a>
                        </li>
                    </ul>
                </links>
            </mdb-navbar>
        </header>

        <main>
            <router-outlet></router-outlet>
        </main>


        <footer>
            <div class="links"></div>
        </footer>
    </div>
</ion-content> -->