main {
    min-height: calc(100vh - 66px);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.nav-item {
    color: #014572;
    font-weight: 600;
    display: inline-block;
    font-size: 1.2rem;
    width: 100%;
    button {
        margin: 0 auto;
    }
}

.specialties li {
    background: #014572;
}

footer {
    height: 40px;
    padding: 10px 15px;
    background-color: #014572;
}

footer .links {
    width: 100%;
    height: 100%;
    background: url("https://www.farmak-rx2.com/public/img/logo-footer.png") no-repeat center right;
    background-size: contain;
}

:host {
    ion-header {
      ion-toolbar {
        --ion-toolbar-background: transparent;
        --background-color: transparent;
        --ion-color-base: transparent !important;
      }
    }
    ion-header::after {
        background-image: none;
    }
    ion-buttons.header {
        position: absolute;
        top: 0;
        ion-button {
            width: 48px;
            height: 48px;
        }
        &.menu {
            right: 5px;
        }
        &.back {
            left: 5px;
        }
    }
  }

::ng-deep {
    .ion-page {
        overflow-y: overlay;
    }
    ion-header {
        margin-bottom: 10px;
    }

    .app_version {
        display: flex;
        font-size: 12px;
        color: #014572;
        padding: 0 15px;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        p {
            margin: 0;
        }
        .app_update {
            margin: 0 10px;
            background: #9bd4f9;
            height: 23px;
            padding: 3px 10px;
            cursor: pointer;
            border-radius: 10px;
        }
    }

}

@media (max-width: 767px) {
    footer {
        height: 45px;
    }
}