<div class="specialty-wrap">
    <div class="d-flex justify-content-center">
        <div class="hexagon specialty">
            <img class="hexagon__bg" src="assets/img/aktualne.png" alt="">
            <div class="hexagon__info">
                <div>
                    ІСТОРІЯ<br />ВІЗИТІВ
                </div>
            </div>
        </div>
    </div>
    <div class="year-row">
        <a *ngFor="let year of years" [routerLink]="[year]" class="hexagon">
            <img alt="" class="hexagon__bg" src="assets/img/hexagon.png">
            <div class="hexagon__info">
                <span>{{year}}</span>
            </div>
        </a>
    </div>
</div>
