.specialty .hexagon__info {
    color: #32698b;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
}
.specialty .hexagon__info div {
    font-size: 1.2vw;
    width: 100% !important;
}
.year-row {
    width: 80%;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
}
.year-row .hexagon {
    max-width: 15%;
    margin: 0 2.5%;
}
@media (max-width: 767px) {
    .specialty .hexagon__info div {
        font-size: 14px; 
    }
    .year-row .hexagon {
        margin: 0 5px;
        width: 100px;
    }
}