.list-group-item {
    padding: 0;
    transition: .5s;
    display: flex;
}
.list-group-item:hover {
    background-color: rgba(0,0,0,.125);
}
.list-group-item:first-child {
    background-color: rgba(0,0,0,.125);
    font-weight: 600;
}
.list-group-item .cell {
    display: inline-block;
    padding: 15px;
    border-right: 1px solid rgba(0,0,0,.125);
}
.list-group-item .cell:last-child {
    border-right: none;
}
.list-group-item .cell:nth-child(1) {
    width: 15%;
}
.list-group-item .cell:nth-child(2) {
    width: 20%;
}
.list-group-item .cell:nth-child(3) {
    width: 65%;
}
.commentWrap {
    width: 100%;
}
#filterWrap {
    width: 100%;
}
.btn {
margin-right: 15px;
}
