<div class="container">
    <div class="row"><a routerLink="/control" class="mr-auro mt-4">&#171; Control</a></div>
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-8 col-lg-6 align-content-center reg-form">

            <h2 class="text-center">Маркетингові коментарі</h2>

        </div>
    </div>

    <div class="row justify-content-center">
        <div *ngIf="comments.length; then dataList else dataListIsEmpy"></div>

        <ng-template #dataList>
            <div id="filterWrap" class="row justify-content-center mb-3">
                <div class="col-12 col-md-4 col-lg-4">
                    <input #dateStart type="text" class="form-control" placeholder='Початкова дата:'/>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <input #dateEnd type="text" class="form-control" placeholder='Кінцева дата:'/>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <button class="btn btn-outline-dark submit-btn" (click)="filterComments()">Фільтрувати</button>
                    <button class="btn btn-outline-dark submit-btn" (click)="clearFilter()">Скинути фільтр</button>
                </div>
            </div>
            <div class="col-12 mb-3">
                <alert></alert>
            </div>
            <div class="commentWrap" *ngFor="let letComments of newComments | keyvalue">
                <h3>{{letComments.key}}</h3>
                <ul class="list-group w-100">
                    <li class="list-group-item">
                        <div class="cell">Date:</div>
                        <div class="cell">Author:</div>
                        <div class="cell">Comment: </div>
                    </li>
                    <li *ngFor="let comment of letComments.value" class="list-group-item">
                        <div class="cell">{{comment.date}}</div>
                        <div class="cell">{{comment.user}}</div>
                        <div class="cell">{{comment.comment}}</div>
                    </li>
                </ul>
            </div>


        </ng-template>

        <ng-template #dataListIsEmpy>
            <p>Can't find comments. You need create a comment. Please check your internet connection and reload page.</p>
        </ng-template>
    </div>
</div>
