.home {
    background: url("https://www.farmak-rx2.com/public/img/bg.jpg") no-repeat top left;
    background-size: cover;
    // min-height: calc(100vh - 122px);
    height: 100vh;
    padding-bottom: 0 !important;
    display: flex;
    align-items: center;
}
.specialtie {
    position: relative;
}
.specialties {
    li {
        padding: 0 20px;
    }
}
.specialties-left {
    flex-direction: row-reverse;
}

.relevant {
    max-width: 210px;
    &.up {
        bottom: -100px;
        left: 5%;
    }
}

.relevant .hexagon__info div {
    text-transform: uppercase;
    color: #32698b;
    margin-top: -10px;
}
.marketing_comments, .update_data {
    position: absolute;
    left: 5%;
    bottom: 50px;
    padding: 5px 10px;
    font-size: 1vw;
    background-color: #06a9d4;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: auto;
    transition: 0.5s;
    border: 1px solid #06a9d4;
    min-width: 15.5vw;
    text-align: center;
    &:hover {
        background-color: white;
        color:  #06a9d4;
    }
}
.update_data {
    bottom: 0px;
}

@media (max-width: 500px) { 
    .home {
        background-position-x: -100px !important;
    }
}