﻿<div class="home">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

        <div class="d-flex" style="overflow-x: overlay;" *ngIf="specialties">
            <div class="col-md-6 specialtie">
                <ul class="list-unstyled row specialties specialties-left">
                    <li class="col-4 text-center" *ngIf="specialty9">
                        <a routerLink="/{{specialty9.id}}" class="hexagon">
                            <img class="hexagon__bg" src="assets/img/hexagon.png" alt="">
                            <div class="hexagon__info">
                                <img class="specialty-logo" src="{{uploadsImg}}{{specialty9.logo}}" alt="{{specialty9.specialtyName}}">
                                <div>
                                    {{specialty9.specialtyName}}
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-4 text-center" *ngIf="specialty9"></li>
                    <li class="col-4 text-center" *ngIf="specialty9"></li>
                    <li class="col-4 text-center" *ngIf="specialty10">
                        <a routerLink="/{{specialty10.id}}" class="hexagon">
                            <img class="hexagon__bg" src="assets/img/hexagon.png" alt="">
                            <div class="hexagon__info">
                                <img class="specialty-logo" src="{{uploadsImg}}{{specialty10.logo}}" alt="{{specialty10.specialtyName}}">
                                <div> {{specialty10.specialtyName}} </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-4 text-center" *ngIf="specialty13">
                        <a routerLink="/{{specialty13.id}}" class="hexagon">
                            <img class="hexagon__bg" src="assets/img/hexagon.png" alt="">
                            <div class="hexagon__info">
                                <img class="specialty-logo" src="{{uploadsImg}}{{specialty13.logo}}" alt="{{specialty13.specialtyName}}">
                                <div> {{specialty13.specialtyName}} </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-4 text-center" *ngIf="specialty10">
                        <a routerLink="/relevant" class="hexagon relevant" [class.up]="specialty12">
                            <img class="hexagon__bg" src="assets/img/aktualne.png" alt="">
                            <div class="hexagon__info">
                                <div> Актуальне </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-4 text-center" *ngIf="specialty11">
                        <a routerLink="/{{specialty11.id}}" class="hexagon">
                            <img class="hexagon__bg" src="assets/img/hexagon.png" alt="">
                            <div class="hexagon__info">
                                <img class="specialty-logo" src="{{uploadsImg}}{{specialty11.logo}}" alt="{{specialty11.specialtyName}}">
                                <div> {{specialty11.specialtyName}} </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-4 text-center" *ngIf="specialty12">
                        <a routerLink="/{{specialty12.id}}" class="hexagon">
                            <img class="hexagon__bg" src="assets/img/hexagon.png" alt="">
                            <div class="hexagon__info">
                                <img class="specialty-logo" src="{{uploadsImg}}{{specialty12.logo}}" alt="{{specialty12.specialtyName}}">
                                <div> {{specialty12.specialtyName}} </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-4 text-center">
                        <a routerLink="marketing-comments" class="marketing_comments">Маркетингові коментарі</a>
                        <a class="update_data" href="#" (click)="checkUpdates($event)">Оновити програму</a>
                    </li>
                    <li class="col-4 text-center" *ngIf="specialty11"></li>
                    <!-- <li class="col-4 text-center"></li>
                    <li class="col-4 text-center">
                        <a routerLink="/loyalty-programs" class="hexagon relevant">
                            <img class="hexagon__bg" src="{{publicFolder}}/img/aktualne.png" alt="">
                            <div class="hexagon__info">
                                <div>
                                    ПРОГРАМИ ЛОЯЛЬНОСТІ
                                </div>
                            </div>
                        </a>
                    </li> -->
                </ul>
                
            </div>

            <div class="col-md-6">
                <ul class="list-unstyled row specialties">
                    <li class="col-4 text-center" *ngFor="let specialty of specialties; index as i;">
                        <a routerLink="/{{specialty.id}}" class="hexagon" *ngIf="i < 9">
                            <img class="hexagon__bg" src="assets/img/hexagon.png" alt="">
                            <div class="hexagon__info">
                                <img class="specialty-logo" src="{{uploadsImg}}{{specialty.logo}}" alt="{{specialty.specialtyName}}">
                                <div>
                                    {{specialty.specialtyName}}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</div>
