<div class="container">

    <div class="justify-content-center">
        <div class="row">
            <h2>АКТУАЛЬНЕ</h2>
        </div>

        <div *ngIf="preparats.length; then dataList else dataListIsEmpy"></div>

        <ng-template #dataList>
            <ul class="list-group w-100">
                <li *ngFor="let preparat of preparats" class="list-group-item">
                    <a routerLink="{{preparat.id}}">{{preparat.preparatName}}</a>
                </li>
            </ul>
        </ng-template>

        <ng-template #dataListIsEmpy>
           <div class="row">
               <br>
               <p>Матеріали покищо відсутні. Також варто перевірте інтернет підключення.</p>
           </div>
        </ng-template>
    </div>
</div>
