<div class="container">
    <div class="row justify-content-center">
        <h2>НАВЧАЛЬНІ МАТЕРІАЛИ</h2>
    </div>

    <div class="row">
        <ul class="list-group w-100 mt-4">
            <li class="list-group-item"><a routerLink="m68A2N1QFKM">Дмитро Буняєв >></a></li>
            <li class="list-group-item"><a routerLink="8yNhLdS7HPE">Шлапак Євген >></a></li>
            <li class="list-group-item"><a routerLink="PlkpsZGvAOk">Білий Віталій >></a></li>
            <li class="list-group-item"><a routerLink="UXL2YF1SP40">Алла Мілєвська >></a></li>
            <li class="list-group-item"><a routerLink="Dky69D5acs0">Олександр Хмель >></a></li>
        </ul>
    </div>
</div>
