.specialty-wrap {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.visit {
    margin-top: 27px;
    padding-top: 38px;
    .hexagon {
        .hexagon__bg {
            width: 90px;
            max-width: max-content;
        }
    }
}

.presentation {
    padding-top: 25px;
}

.specialty {
    width: 150px;
    &:before {
        content: '';
        position: absolute;
        bottom: -28px;
        left: calc(50% - 6px);
        border-left: 2px solid #014572;
        height: 40px;
    }

    .hexagon__info div {
        width: 76%;
        font-size: 14px;
    }

}

.visit .hexagon__info {
    font-size: 18px;
    font-weight: bolder;
    margin-top: -10px;
}

.square-tree ul {
    position: relative;
}
.square-tree li {
    position: relative;
}
.square-tree li::before, .square-tree li::after{
    content: '';
    position: absolute;
    z-index: 99;
    top: 0;
    right: calc(50% - 6px);
    border-top: 2px solid #014572;
    width:  calc(50% + 6px);
    height: 40px;
}
.square-tree li::after{
    right: auto;
    left: calc(50% - 6px);
    border-left: 2px solid #014572;
}
.square-tree li:only-child::after, .square-tree li:only-child::before {
    display: none;
}
.square-tree li:only-child{ padding-top: 0;}

.square-tree li:first-of-type::before, .square-tree li:last-of-type::after{
    border: 0 none;
}
.square-tree li:last-of-type::before{
    left: -7px;
    border-right: 2px solid #014572;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.square-tree li:first-of-type::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.square-tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #014572;
    width: 0; height: 20px;
}



.angle-tree li {
    position: relative;
}
.angle-tree li::before{
    content: "";
    position: absolute;
    top: 4px;
    left: 41%;
    border-top: 2px solid #014572;
    width: 64%;
    transform: rotate(-38deg);
}

.angle-tree li:nth-child(even)::before {
    transform: rotate(38deg);
    left: -10%;
}

.angle-tree li::after{
    right: auto;
    left: 50%;
    border-left: 2px solid #014572;
}
.angle-tree li:only-child::after, .angle-tree li:only-child::before {
    display: none;
}

.serialNumber {
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 3px;
    //border-bottom: 4px solid #fff;
}

.serialNumberOuter span {
    //border-bottom: 4px solid #fff;
    display: block;
}

.visit-slide {
    width: calc(100% - 150px);
    .d-flex {
        justify-content: center;
    }
}

.relevant, .history {
    position: absolute;
    transform: translate(calc(-100% - 50px), 12px);
    max-width: 210px;
}

.history {
    transform: translate(calc(100% + 50px), 12px);
}

.relevant .hexagon__info div, .history .hexagon__info div {
    text-transform: uppercase;
    color: #32698b;
    margin-top: -10px;
}

@media (min-width: 1200px) {
    .presentation {
        padding-top: 35px;
    }

    .visit .hexagon__info {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .specialty {
        width: 150px;
        .hexagon__info div {
            font-size: 14px; 
        }
    }
    .visit {
        .hexagon {
            .hexagon__bg {
                width: 90px;
                max-width: max-content;
            }
        }
    }
    .presentation {
        // width: 80px !important;
        // max-width: max-content;
        flex: initial;
        padding: 15px 0px;
    }
}
