<div class="specialty-wrap">
    <div *ngIf="visits.length && specialty; else dataListIsEmpy">
        <div class="d-flex justify-content-center">
            <div class="hexagon specialty">
                <img class="hexagon__bg" src="assets/img/hexagon.png" alt="">
                <div class="hexagon__info">
                    <img class="specialty-logo" src="{{uploadsImg}}{{specialty.logo}}" alt="">
                    <div>
                        {{specialty.specialtyName}}<br />{{yearId}}
                    </div>
                </div>
            </div>
        </div>

        <swiper-container *ngIf="visitsSlides; else dataListIsEmpy" swiperElement class="swiper-wrapper swiper-h" [config]="config">
            <swiper-slide class="swiper-slide" *ngFor="let visitSlide of visitsSlides; let slideIndex = index">
                <div class="visit-slide m-auto">

                    <ul class="list-unstyled d-flex square-tree">
                        <li *ngFor="let visit of visitSlide" class="col-2 d-flex align-items-center justify-content-center visit">
                            <div class="hexagon">
                                <img class="hexagon__bg" src="assets/img/hexagon.png" alt="">
                                <div *ngIf="visit.serialNumber === null || visit.year === null; then hexagonWithId else hexagonWithYear"></div>

                                <ng-template #hexagonWithYear>
                                    <div class="hexagon__info">
                                        <span class="serialNumberOuter serialNumber" *ngIf="visit.week !== null" [innerHTML]=changeWeekFormat(visit.week)></span>
                                        <span class="serialNumber" *ngIf="visit.week === null && visit.serialNumber !== null">{{visit.serialNumber}}</span>
                                        <!-- <span>{{visit.year}}</span> -->
                                    </div>
                                </ng-template>

                                <ng-template #hexagonWithId>
                                    <div class="hexagon__info">
                                        {{visit.id}}
                                    </div>
                                </ng-template>
                            </div>
                        </li>
                    </ul>


                    <ul class="list-unstyled d-flex angle-tree">
                        <li *ngFor="let visit of doubleArrayOfVisits[slideIndex]; let i = index" class="col-1 d-flex align-items-center justify-content-center presentation">
                            <div *ngIf="presentationId(visit.id, i); then presentationLink else presentationDiv"></div>

                            <ng-template #presentationLink>
                                <a [routerLink]="[presentationId(visit.id, i)]" class="hexagon">
                                    <img  class="hexagon__bg" src="assets/img/{{checkType(i)}}.png" alt="" >
                                </a>
                            </ng-template>

                            <ng-template #presentationDiv>
                                <div  class="hexagon">
                                    <img  class="hexagon__bg" src="assets/img/{{checkType(i)}}.png" alt="" >
                                </div>
                            </ng-template>
                        </li>
                    </ul>

                </div>

            </swiper-slide>
        </swiper-container>
    </div>

    <ng-template #dataListIsEmpy>
<!--            <p>Loading...</p>-->
    </ng-template>
</div>
