<div class="container">
    <div class="row"><a routerLink="/control/users" class="mr-auro">&#171; All users</a></div>
    <div class="justify-content-center">
        <div class="row">
            <h2>User {{user?.username}} activity</h2>
        </div>

        <div *ngIf="user?.activityPages; then dataList else dataListIsEmpy"></div>

        <ng-template #dataList>
            <ul class="list-group w-100">
                <li class="list-group-item">
                    <div class="cell">id</div>
                    <div class="cell">Сторінка</div>
                    <div class="cell">Початок активності</div>
                    <div class="cell">Кінець активності</div>
                    <div class="cell">Загальний час</div>
                </li>
                <li *ngFor="let activity of user.activityPages" class="list-group-item">
                    <div class="cell">{{activity.id}}</div>
                    <div class="cell">{{activity.pageName}}</div>
                    <div class="cell">{{activity.dateStart}}</div>
                    <div class="cell">{{activity.dateEnd}}</div>
                    <div class="cell">{{activity.duration}}</div>
                </li>
            </ul>
        </ng-template>

        <ng-template #dataListIsEmpy>
           <div class="row">
               <br>
               <p>Активності покищо відсутні. Також варто перевірити інтернет підключення.</p>
           </div>
        </ng-template>
    </div>

</div>
