.list-group-item {
    padding: 0;
    transition: .5s;
}
.list-group-item:hover {
    background-color: rgba(0,0,0,.125);
}
.list-group-item:first-child {
    background-color: rgba(0,0,0,.125);
    font-weight: 600;
}
.list-group-item .cell {
    display: inline-block;
    padding: 15px;
    border-right: 1px solid rgba(0,0,0,.125);
}
.list-group-item .cell:nth-child(1) {
    width: 5%;
}
.list-group-item .cell:nth-child(2), .list-group-item .cell:nth-child(3), .list-group-item .cell:nth-child(4) {
    width: 25%;
}
.list-group-item .cell:last-child {
    width: 20%;
    border-right: 0;
}
