.presentation {
    padding-bottom: 0!important;
}

.slides {
    width: calc(100% - 100px);
    font-size: 20px;
    padding: 0 60px;

    .slide {
        position: relative;

        a {
            position: absolute;
        }

        .top {
            top: 0;
            bottom: 66.7%;
            left: 0;
            right: 0;
        }

        .center {
            top: 33.3%;
            bottom: 33.3%;
            left: 25%;
            right: 25%;
        }

        .bottom {
            top: 66.7%;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .bottom-half-left {
            top: 66.7%;
            bottom: 0;
            left: 0;
            right: 50%;
        }

        .bottom-half-right {
            top: 66.7%;
            bottom: 0;
            left: 50%;
            right: 0;
        }

        .bottom-left {
            top: 66.7%;
            bottom: 0;
            left: 0;
            right: 66.7%;
        }

        .bottom-center {
            top: 66.7%;
            bottom: 0;
            left: 33.3%;
            right: 33.3%;
        }

        .bottom-right {
            top: 66.7%;
            bottom: 0;
            left: 66.7%;
            right: 0;
        }
        .testButton {
            position: absolute;
            border: none;
            background: transparent;
            -webkit-box-shadow: 0px 0px 15px 2px #000000;
            box-shadow: 0px 0px 15px 0px #000000a6;
            width: 47%;
            height: 21.5%;
            top: 19%;
            left: 51%;
            border-radius: 50px;
            outline: none;
            transition: 0.3s;
        }
        .testButton:nth-of-type(2) {
            top: 46%;
        }
        .testButton:nth-of-type(3) {
            top: 74%;
        }
        .testButton.active {
            box-shadow: 0px 0px 25px 3px #000000a6;
            background-color: #0000004d;
        }
    }
    .doctors_name {
        margin: 10px 0 30px;
        text-align: center;

        input {
            text-align: left;
        }

        .row {
            align-items: center;
        }
    }
    .yt_slide {
        width: 80%!important;
        margin: 0 auto;

        youtube-player {
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
        }
    }
}

aside {
    width: 92px;
    margin-left: 8px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-top: 68px;



    li, .item>div {
        width: 86px;
        height: 100px;
        background: url("http://farmak-rx2.com/public/img/hexagon-small.png") no-repeat left center;
        background-size: cover;
        margin: 0 auto 5px auto;
        line-height: 90px;
        position: relative;

        a, span {
            color: #fff;
            margin-left: -7px;
        }



        &:last-child:before {
            display: none;
        }
    }

    .item {
        position: relative;

        &:before {
            content: "";
            display: block;
            height: 25px;
            position: absolute;
            bottom: -5px;
            left: calc(50% - 5px);
            border-left: 2px solid #014572;
            z-index: -1;
        }

        &:last-child:before{
            display: none !important;
        }

        div.active {
            background: url("http://farmak-rx2.com/public/img/hexagon-small.png") no-repeat left center;
            background-size: cover;
            background-position: right center;
        }

        .active {
            background: white;
        }
    }

    li.active, ngu-item > div.active {
        background-position: right center;
    }
}

.presentation-wrap {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.carousel-inner .description img {
    max-width: 50%;
    height: auto;
    float: left;
    margin-right: 10px;
}


.carousel-wrap {
    padding: 70px 0;
    position: relative;
}

.leftRs {
    right: 0;
    position: absolute;
    margin: 0 auto;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    background: transparent;
    left: -4px;

    svg {
        height: 100%;
        width: 100%;
        transform: rotate(-90deg);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.rightRs {
    right: 0;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    left: -4px;
    background: transparent;

    svg {
        height: 100%;
        width: 100%;
        transform: rotate(90deg);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &:hover {
        cursor: pointer;
    }
}

.serialNumber {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 3px;
    //border-bottom: 4px solid #fff;
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: -25px;
    right: 0;
}

.year {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    position: absolute;
    bottom: 30px;
    left: -7px;
    right: 0;
}




