#player {
    width: 100%;
    height: auto;
}

.ytp-watermark {
    display: none !important;
    opacity: 0 !important;
}

.ytp-title-text {
    display: none !important;
    opacity: 0 !important;
}

.sf-btn-ctr {
    display: none;
}


.example-accordion {
    margin-bottom: 5px;
    display: block;
}

.example-accordion-item {
    display: block;
    border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
    border-top: none;
}

.example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #eeeeee80;
}

.example-accordion-item-description {
    font-size: 0.85em;
    color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
    padding: 10px;
}

.example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
}

.example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.test-lists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .item {
        display: flex;
        height: 24px;
    }
    input {
        width: 16px;
        height: 20px;
        margin-right: 10px;
    }
}
