/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('assets/fonts/Robotolight.woff2') format('woff2'), url('assets/fonts/Robotolight.woff') format('woff'), url('assets/fonts/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('assets/fonts/Robotolightitalic.woff2') format('woff2'), url('assets/fonts/Robotolightitalic.woff') format('woff'), url('assets/fonts/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('assets/fonts/Roboto.woff2') format('woff2'), url('assets/fonts/Roboto.woff') format('woff'), url('assets/fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('assets/fonts/Robotoitalic.woff2') format('woff2'), url('assets/fonts/Robotoitalic.woff') format('woff'), url('assets/fonts/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('assets/fonts/Robotomedium.woff2') format('woff2'), url('assets/fonts/Robotomedium.woff') format('woff'), url('assets/fonts/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('assets/fonts/Robotomediumitalic.woff2') format('woff2'), url('assets/fonts/Robotomediumitalic.woff') format('woff'), url('assets/fonts/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('assets/fonts/Robotobold.woff2') format('woff2'), url('assets/fonts/Robotobold.woff') format('woff'), url('assets/fonts/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('assets/fonts/Robotobolditalic.woff2') format('woff2'), url('assets/fonts/Robotobolditalic.woff') format('woff'), url('assets/fonts/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('assets/fonts/Robotoblack.woff2') format('woff2'), url('assets/fonts/Robotoblack.woff') format('woff'), url('assets/fonts/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('assets/fonts/Robotoblackitalic.woff2') format('woff2'), url('assets/fonts/Robotoblackitalic.woff') format('woff'), url('assets/fonts/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

:root {
    --swiper-navigation-size: 44px; /* To edit the size of the arrows */
    --swiper-navigation-color: #06a9d4; /* To edit the color of the arrows */
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
}

body {
    // min-width: 960px;
}

main>*>div {
    padding-top: 50px;
    padding-bottom: 50px;
}

nav, .navbar-nav {
    background-color: #fff;
}

#navbarCollapse {
    padding-left: 15px;
    padding-right: 15px;
}

header .navbar .nav-item .nav-link {
    color: #014572;
    font-weight: 600;
    display: inline-block;
    font-size: 1.2rem;
    padding: 10px 6px;
}

header .navbar {
    padding: 0 !important;
    background: transparent;

    &>div {
        margin-left: auto;

    }
}

.navbar {
    box-shadow: none !important;
}

.navbar-toggler {
    position: relative;
    z-index: 9;
    padding: 0;
    border: none;
    outline: none;
    margin: 5px 16px 0 auto;
}

.navbar-toggler-icon {
    width: 72px;
    height: 56px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1,69, 114, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: #fff;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    width: 72px;
    height: 56px;
    background-image: url("data:image/svg+xml,%3Csvg width='640' height='480' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg id='svg_4'/%3E%3Cg id='svg_24'/%3E%3Cg id='svg_6'/%3E%3Cuse fill='%23014572' x='133.65198' y='248.71317' transform='matrix(0.7625138288811996,0,0,0.7625138288811996,-19.01590753839143,-136.3074316132759) ' xlink:href='%23svg_8' id='svg_9'/%3E%3Cg id='svg_10'/%3E%3C/g%3E%3Cdefs%3E%3Csymbol viewBox='0 0 47.971 47.971' y='0px' x='0px' id='svg_8' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m28.228,23.986l18.864,-18.864c1.172,-1.171 1.172,-3.071 0,-4.242c-1.172,-1.172 -3.07,-1.172 -4.242,0l-18.864,18.864l-18.865,-18.864c-1.172,-1.172 -3.07,-1.172 -4.242,0c-1.172,1.171 -1.172,3.071 0,4.242l18.865,18.864l-18.865,18.864c-1.172,1.171 -1.172,3.071 0,4.242c0.586,0.585 1.354,0.878 2.121,0.878s1.535,-0.293 2.121,-0.879l18.865,-18.864l18.864,18.864c0.586,0.586 1.354,0.879 2.121,0.879s1.535,-0.293 2.121,-0.879c1.172,-1.171 1.172,-3.071 0,-4.242l-18.864,-18.863z'/%3E%3C/g%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3C/symbol%3E%3C/defs%3E%3C/svg%3E");
}

.hexagon {
    // display: block;
    // width: 80%;
    // max-width: 235px;
    position: relative;
    color: #fff;
    // margin-left: auto;
    // margin-right: auto;

    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.hexagon__bg {
    width: 100%;
    height: auto;
}

.specialty-logo {
    width: 30%;
    margin-bottom: 5px;
}

.hexagon__info {
    position: absolute;
    left: 0;
    right: 4%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 500;

    div {
        width: 99%;
        margin: auto;
        font-size: 1vw;
    }
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg fill='%2306a9d4' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12 C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084 c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864 l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg fill='%2306a9d4' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492.004 492.004' style='enable-background:new 0 0 492.004 492.004;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}

.carousel-control-next, .carousel-control-prev {
    max-width: 75px;
}

.carousel-control-next {
    margin-right: -60px;
}

.carousel-control-prev {
    margin-left: -60px;
}

.specialty-wrap {
    .carousel-control-next {
        margin-right: 0;
    }

    .carousel-control-prev {
        margin-left: 0;
    }
}

.navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
}

.carousel-indicators {
    display: none;
}

.carousel-control-next.disabled, .carousel-control-prev.disabled {
    display: none;
}

.modal-header {
    border-bottom: none;
}

.modal {
    overflow-y: auto !important;
}

.modal-body {
    padding: 0;
}

.modal-header .close {
    padding: 0.5rem 0.5rem;
}
.mb30 {
    margin-bottom: 30px;
}
.mt30 {
    margin-top: 30px;
}
.mr30 {
    margin-right: 30px;
}
.img-fluid-half {
    max-width: 50%;
    height: auto;
    float: left;
    margin-right: 10px;
}

//.visit-slide .serialNumberOuter .serialNumber:first-of-type {
//    border-bottom: 0.4vw solid #fff;
//}

.decriseTimer span {
    display: inline-block;
    font-size: 120px;
    vertical-align: middle;
}

.decriseTimer span span {
    font-size: 16px;
    display: block;
}

.yt_slide #widget2 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.justify-content-center {
    text-align: center;
}
.justify-content-center h2 {
    width: 100%;
    margin-top: 40px;
}
.justify-content-center ul {
    text-align: left;
}

.video-js {
    // height: calc(100vh - 150px);
    // width: calc(100vw - 150px);
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    .vjs-picture-in-picture-control {
        display: none !important;
    }
}
.vjs-poster {
    img {
        padding: 0 !important;
        // height: auto !important;
        height: 100% !important;
        object-fit: cover !important;
    }
}

.list-group-item:last-child {
    margin-bottom: 10px !important;
}

@media (min-width: 1200px) {
    //.visit-slide .serialNumberOuter .serialNumber:first-of-type {
    //    border-bottom: 4px solid #fff;
    //}
    // .customersSlide {
    //     height: calc(100vh - 66px);

    //     .carousel, .carousel-inner, .carousel-item, .w-100 {
    //         height: 100%!important;
    //     }

    //     img {
    //         width: auto!important;
    //         margin: 0 auto;
    //     }
    // }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .marketing_comments {
        font-size: 7px;
    }
    .hexagon__info div {
        font-size: 10px;
    }
    footer {
        height: 40px;
        display: none !important;
    }
    .home .d-flex {
        flex-direction: column;
        height: calc(100vh - 70px);
    }
    .slides .swiper-wrapper .swiper-slide {
        .yt_slides, .video-bg, img {
            padding: 0 10px !important;
        }
    }
    .slides .swiper-wrapper .swiper-slide > div:not(.vjs-poster) > img {
        height: calc(100vh - 100px) !important;
    }
    :root {
        --swiper-navigation-size: 30px !important;
    }
    .vjs-poster {
        img {
            height: 100% !important;
        }
    }
    .slides .yt_slides {
        height: calc(100vh - 90px) !important;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 900px;
    }
}

@media (max-width: 1300px) {
    .hexagon__info {
        font-size: 14px!important;

        span span, span {
            border-bottom-width: 3px!important;
        }
    }
}
