<div>
    <div class="container-fluid mt-4 ">
        <div class="row justify-content-center">
            <div class="col col-sm-12 col-md-10">
                <div #videoWrap>
                    <div id="player"></div>
                </div>
            </div>
        </div>
    </div>
</div>
